/*

  Background

*/
.fullscreenOverlay {
  z-index: 8;
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(40,40,40, 0.9)
}


/*

  Digital clock

*/
.digitalclock {
  width: 100%;
  padding-bottom: 40px;
}

.digitalclock h1{
  margin: 0 auto;
  text-align: center;
}


/*

  Top sites styles

*/
.topsites-chrome {
  display:table;
  margin: 0 auto;
  padding-top: 60px;
  max-width: 664px;
}

#topsites-chrome {
  margin:0 auto;
  display: inline-table;
  padding-left:5px;
}

.topsites-chrome .tile {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  display:inline-block;
  text-decoration: none;
  margin: 5px;
  vertical-align: top;
  white-space: nowrap;
  font-size: 12px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: transform, box-shadow, margin, opacity, width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgb(250,250,250);
  width: 154px;
  height: 128px;
}

.topsites-chrome .tile .title{
  background-color: #efefef;
  width: 100%;
  position: absolute;
  top: 0;
  position: absolute;
  height: 19px;
  z-index: 25;
}

.topsites-chrome .tile .title img{
  display: inline-block;
}
.topsites-chrome .tile .title-text{
  display: inline-block;
  position: absolute;
  top: 0;
  margin-top: 0px;
  margin-left: 4px;
}
.topsites-chrome .tile .thumbnail{
  width: 154px;
  height: 128px;
  position: absolute;
  z-index: 24;
}

/* Ball Style */
.topsites-ball {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 664px;
}

.topsites-ball .tile {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 64px;
  overflow: hidden;
  position: relative;
  display:inline-block;
  text-decoration: none;
  margin: 29px;
  vertical-align: top;
  white-space: nowrap;
  font-size: 12px;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: transform, box-shadow, margin, opacity, width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(250, 250, 250, 0.23);
  width: 64px;
  height: 64px;
}

.topsites-ball .tile:hover {
  transform: scale(1.4);
}

.topsites-ball a {
  padding-top: 24px;
  padding-left: 24px;
}


/* Style1 Top */
.topsites-style1-top {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 18;
  min-height: 30px;
}
.topsites-style1-top .inner { padding-top: 2px; color: #fff; }

.topsites-style1-top a {
  text-decoration: none;
  color: #efefef;
  padding-left: 20px;
}

.topsites-style1-top a:hover { color: #fff; }

/* Style1 Bottom */
.topsites-style1-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 18;
  min-height: 30px;
}
.topsites-style1-bottom .inner { padding-top: 2px; color: #fff; }

.topsites-style1-bottom a {
  text-decoration: none;
  color: #efefef;
  padding-left: 20px;
}

.topsites-style1-bottom a:hover { color: #fff; }



@media (max-width: 750px) {
}


@media (max-width: 550px) {
}

@media (max-width: 400px) {
  .topsites-chrome .tile { width: 150px; }
  .search { margin: 0 10px; }
}

@media (max-width: 320px) {
  #topsites-chrome { display: block; padding-left:0px; margin: 0 10px; }
  .topsites-chrome { display: block; }
  .topsites-chrome .tile { width: 100%; margin:15px 0; }
}
